.chatWindow {
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 700px;
  background-color: green;
  margin: auto;
}

.chatContainer {
  margin: auto;
  background-color: blue;
  width: 50%;
}

.buttonContainer {
  margin: auto;
  width: 50%;
}

.chatConversation {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 60%;
  background-color: white;
  margin: auto;
  padding: 10px;
}

.chatInput {
  display: flex;
  width: 300px;
  height: 100px;
}

.chatSubmit {
  margin-bottom: auto;
}
